{% extends 'base.html.twig' %}

{% block title %}Texts{% endblock %}

{% block body %}

<h1>Text index</h1>

{% if texts|length == 0 %}
  <p>No texts found.</p>
{% else %}

<table id="textlisting" class="table">
  <thead>
    <tr>
      <th>Language</th>
      <th>Title</th>
      <th>Tags</th>
      <th>Terms</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for text in texts %}
    <tr>
      <td>{{ text.Language }}</td>
      <td>
        <a href="/do_text.php?start={{ text.ID }}">
          <img src="/icn/book-open-bookmark.png" title="Read" alt="Read" />
        </a>
        <a href="/text/{{ text.ID }}/edit">
          <img src="/icn/document--pencil.png" title="Edit" alt="Edit" />
        </a>
        {{ text.Title }}
      </td>
      <td>{{ text.Tags }}</td>
      <td>
        <span title="{{ text.TermCount }} known terms, {{ text.UnknownCount }} unknown">
          {{ text.TermCount }} / {{ text.UnknownCount }}
        </span>
      </td>
      <td>
        <span onclick="confirm_archive({{ text.ID }});">
          <img src="/icn/inbox-download.png" title="Archive" alt="Archive" />
        </span>
        <span onclick="confirm_delete({{ text.ID }});">
          <img src="/icn/minus-button.png" title="Delete" alt="Delete" />
        </span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

<a href="{{ path('app_text_new') }}">Create new</a>

<script>
  $(document).ready(function () {
    var table = $('#textlisting').DataTable({
      columnDefs: [
        { orderable: false, targets: [3, 4] },
        { width: '5%', targets: [ 3,4] }
      ]
    });
  });

  function confirm_archive(textid) {
    alert('TODO');
  }

  function confirm_delete(textid) {
    alert('TODO');
  }
</script>

{% endblock %}
