<hr />

<P>WordCount: {{ item.WordCount }}</P>
<P>Text: {{ item.Text }}</P>
<P>TextLC: {{ item.TextLC }}</P>
<P>Order: {{ item.Order }}</P>
<P>SeID: {{ item.SeID }}</P>
<P>IsWord: {{ item.IsWord }}</P>
<P>TextLength: {{ item.TextLength }}</P>
<P>WoID: {{ item.WoID }}</P>
<P>WoText: {{ item.WoText }}</P>
<P>WoStatus: {{ item.WoStatus }}</P>
<P>WoTranslation: {{ item.WoTranslation }}</P>
<P>WoRomanization: {{ item.WoRomanization }}</P>
<p>ParentWoID: {{ item.ParentWoID }}, ParentWoTextLC: {{ item.ParentWoTextLC }}, ParentWoTranslation: {{ item.ParentWoTranslation }}</p>


