<script type="text/javascript" src="/js/jquery.js" charset="utf-8"></script>

<p>Updated: {{ term.ID }}</p>

<p>Updates:</p>
<p>{{ updates }}</p>

<p>Terms:</p>
<div>
  {% for item in textitems %}
  <hr />
  <p>{{ item.SpanID }}, {{ item.Text }} %}</p>
  <p>Hides:</p>
  <ul>
    {% for hidden in item.hides %}
    <li>{{ hidden.SpanID }} ({{ hidden.Text }})</li>
    {% endfor %}
  </ul>
  {% if item.hides|length > 0 %}
  <p>first element hidden: {{ item.hides|first.SpanID }}</p>
  {% endif %}
  {% endfor %}
</div>

<script>

  {#
   Update all of the text items.
   Originally, I had tried to render the textitems into a variable
   and return it in the twig options array, but had trouble with
   the encoding/decoding of the HTML, or it would be interpreted
   as HTML etc (eg &quot;).

   This feels like it's more complicated than it should be ...
   there is likely a simpler way to do it.  Another way would
   perhaps have been to make an ajax call to get back HTML,
   but that also felt somehow incorrect, since I'm already
   rendering this template from a controller that has all the data!
  #}
  let update_reading_pane_elements = function(updates_dict) {
    {% for item in textitems %}
    const content = `{% include '/read/textitem.html.twig' %}`;
    const newel = $($.parseHTML(content));
    const newid = newel.attr('id');
    update_element(content, updates_dict[newid]);
    {% endfor %}
  }
  
  let update_element = function(content, updates) {
    const newel = $($.parseHTML(content));
    const newid = newel.attr('id');
    console.log(`got element id = ${newid}`);

    const context = window.parent.document;

    const replaceid = updates.replace;
    const repel = $(`#${replaceid}`, context);
    if (repel.length == 0) {
      console.log(` ... could not find ${replaceid} ?`);
      return;
    }
    console.log(`replacing ${replaceid} with content.`);
    repel.replaceWith(content);

    const removeids = updates.hide;
    for(let i = 0; i < removeids.length; i++) {
      const delid = removeids[i];
      $(`#${delid}`, context).remove();
    }

    const k = 'span.kwordmarked';
    $(k, context).removeClass(k)

    const refocus = $(`#${newid}`, context);
    if (refocus.length == 0) {
      console.log(`could not find id #${newid} to refocus ???`);
      return;
    }
    refocus.addClass(k);
  }

  top.frames.dictframe.location.href = '/read/empty';

  $(document).ready(function() {
    const updates_by_spanid = {{ updates | raw }};
    update_reading_pane_elements(updates_by_spanid);
  });
</script>
