{% form_theme form 'form_table_layout.html.twig' %}

{{ form_start(form) }}

<table id="term">

  {#
    Using jquery to hide the lang. dropdown if it's set.
    I tried using various twig checks (defined, is null, etc)
  but kept getting exceptions.
  #}
  <tr id="languageSel">
    <td>Language</td>
    <td>{{ form_widget(form.language) }}</td>
  </tr>

  {{ form_row(form.Text) }}

  <tr>
    <td><label for="term_parent">Parent</label></td>
    <td>{{ form_widget(form.parent) }}</td>
    <td>
      <span id="parentDetails" class="hide"
            title="{{ form.parent.Translation ?? '' }}"
            onclick="go_to_parent()">&gt;</span>
      </td>
  </tr>

  {{ form_row(form.Romanization) }}
  {{ form_row(form.Translation) }}
  {{ form_row(form.Status) }}
  {{ form_row(form.Sentence) }}

  {% do form.termTags.setRendered %}
  {# manually write list so it can be managed by tagit. #}
  <tr>
    <td>Tags</td>
    <td>
      <ul id="termtagslist" class="tags nomarginblock">
        {% for termTag in form.termTags %}
        <li>
          {{ termTag.vars.value.text }}
        </li>
        {% endfor %}
      </ul>
    </td>
  </tr>

</table>

<button class="btn">{{ button_label|default('Save') }}</button>

<input name="posttoblank" type="hidden" value="{{ posttoblank ?? 'no' }}">
<input id="term_parent_id" type="text" value="{{ form.parent.ID ?? 0 }}">

{{ form_end(form) }}

<script type="text/javascript">
  
  let set_parent_fields = function(event, ui) {
    $('#term_parent').val(ui.item.word);
    $('#term_parent_id').val(ui.item.value);
    if (parseInt(ui.item.value) == 0) {
      console.log('should be hiding');
      $('#parentDetails').addClass('hide');
    }
    else {
      console.log('should be showing');
      $('#parentDetails').removeClass('hide');
      $('#parentDetails').attr('title', ui.item.translation);
    }
    return false;
  };
  
  let set_up_parent_autocomplete = function() {
    $("#term_parent").autocomplete({
      source: function(request, response) {
        $('#term_parent_id').val(0);
        const s = encodeURIComponent(request.term);
        const langid = parseInt($('#term_language').val());
        $.ajax({
          url: `/term/search/${s}/${langid}`,
          type: 'GET',
          dataType: 'json',
          success: function(data) {
            const arr = [];
            for (const [wordid, word] of Object.entries(data)) {
              let label = word.text;
              if (word.translation != null && word.translation != '') {
                label = `${label} (${word.translation})`;
              }
              const obj = {
                label: label,
                value: wordid,
                word: word.text,
                translation: word.translation
              };
              arr.push(obj);
            };
            response(arr, data);
          }
        })
      },
      select: set_parent_fields,
      focus: set_parent_fields,
      change: function(event,ui) {
        console.log('called change');
        if (!ui.item) {
          $('#term_parent_id').val(0);
          console.log('should be hiding it now')
          $('#parentDetails').addClass('hide');
        }
        else {
          $('#parentDetails').removeClass('hide');
        }
      }
    });
  };

  let go_to_parent = function() {
    var pid = parseInt($('#term_parent_id').val());
    if (pid == 0) {
      return;
    }
    else {
      window.location = `/term/${pid}/edit`;
    }
  }

  let showHideLanguageSelector = function() {
    const langid = parseInt($('#term_language').val());
    if (langid > 0) {
      console.log('hiding selector');
      $('#languageSel').hide();
    }
  }
    
  let setupTagit = function() {
    var prototypeFieldName = 'term[termTags][__name__][text]';
    var fieldIndex = 0;
    
    let invalidChar = function(s) { return /[\uD800-\uDFFF]/.test(s); };

    $('#termtagslist').tagit(
      {
        beforeTagAdded: function (_event, ui) {
          if (invalidChar(ui.tag.text())) {
            return;
          }
          fieldIndex++;
          $(this).tagit({fieldName: prototypeFieldName.replace('__name__', fieldIndex)});
        },
        availableTags: TAGS,
        fieldName: 'term[termTags][0][text]'
      });

  };

  let handleAutofocus = function() {
    const wordfield = $('#wordfield');
    const transfield = $('#translationfield');

    if ($('#autofocus').val() != 'false') {
      if (wordfield.val()) {
        transfield.focus();
      }
      else {
        wordfield.focus();
      }
    }

  }
  $(document).ready(function () {
    console.log('starting form')
    showHideLanguageSelector()
    setupTagit();
    // TODO - activate this
    // handleAutofocus();
    set_up_parent_autocomplete();

    if ($('#term_parent_id').val() > 0) {
      $('#parentDetails').removeClass('hide');
    }

  });

</script>
