{% extends 'base.html.twig' %}

{% block title %}Term{% endblock %}

{% block body %}
    <h1>Term</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ term.ID }}</td>
            </tr>
            <tr>
                <th>WoText</th>
                <td>{{ term.Text }}</td>
            </tr>
            <tr>
                <th>TextLC</th>
                <td>{{ term.TextLC }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ term.Status }}</td>
            </tr>
            <tr>
                <th>Translation</th>
                <td>{{ term.Translation }}</td>
            </tr>
            <tr>
                <th>Romanization</th>
                <td>{{ term.Romanization }}</td>
            </tr>
            <tr>
                <th>Sentence</th>
                <td>{{ term.Sentence }}</td>
            </tr>
            <tr>
                <th>WordCount</th>
                <td>{{ term.WordCount }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_term_index') }}">back to list</a>

    <a href="{{ path('app_term_edit', {'id': term.id}) }}">edit</a>

    {{ include('term/_delete_form.html.twig') }}
{% endblock %}
